body{
    display: inline-block;
}

p{
    margin-top: 10px;
    margin-left: 100px;
    font-weight: bold;


}

fieldset{
    margin: 10px;
    width: 250px;
    height: 200px;
    border: 1px;
    float: left;


}

.bouton{

    width: 250px;
    height: 100px;
}

.affichage{

    width: 600px;
    height: 300px;
    /*position:absolute;
    left: 400px;*/
    margin-top: 65px;
    margin-left: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style: solid;
    border-width: 1px;

}

.affichage, .fieldset{
    display: inline-block;
    vertical-align: top;
}

.utilisateur{
    width: 250px;
    border-radius: 5px;
}

.liste{
    width: 250px;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: block;
}